body {
    background: rgb(58, 180, 99);
    background: linear-gradient(90deg, rgba(58, 180, 99, 1) 0%, rgba(124, 227, 47, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

h1 {
    text-align: center;
    text-decoration: underline;
}

p {
    font-family: arial;
    /*Tipo de fuente*/
    line-height: 1.5;
    color: black;
    margin: 3%;
}

.obj-container {
    text-align: center;
    padding: 10px;
}

img {
    margin: 2%;
    width: 450px;
    height: 20%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
    text-decoration: underline;
}


/*Estilo de contenido*/

.container {
    text-align: justify;
    background-color: rgb(255, 255, 255);
    padding: 3%;
    margin: 5%;
    box-shadow: 0px 2px 10px 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    background-image: url("img/fondo-2.png");
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: top left;
}

.list-container {
    background-image: url(Git.JPG);
    font-family: arial;
}

.container-calc{
    float: center;
    background-color: #ffffff;
    padding: 1%;
    margin: 2% 5%;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input{
    font-family: arial;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    margin: 5px;
    padding: 2px;
}
/*Estilo del contenedor del formulario*/

.form-container {
    /* Alinea el contenedor a la derecha */
    background-color: #ffffff;
    /* Fondo blanco */
    padding: 3%;
    /* Espacio alrededor del formulario */
    margin: 2% 5%;
    /* Margen exterior del contenedor */
    border-radius: 10px;
    /* Borde redondeado */
    box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}


/*Estilo de los botonoes*/

.radio-buttons {
    text-align: center;
    /* Centra los radio buttons */
    margin-bottom: 10px;
    /* Espacio inferior entre los radio buttons y el botón de enviar */
    padding: 10px;
}


/*Estilo de boton enviar*/

.submit-btn {
    background-color: #007bff;
    /* Color azul para el botón */
    color: #ffffff;
    /* Texto blanco en el botón */
    border: none;
    /* Sin borde */
    padding: 10px 20px;
    /* Espaciado interno */
    border-radius: 5px;
    /* Borde redondeado */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease;
    /* Transición suave */
    display: block;
    /* Convertir el botón en un elemento de bloque */
    margin: 0 auto;
    /* Margen automático para centrar horizontalmente */
}


/*Animación*/

.submit-btn:hover {
    background-color: #0056b3;
    /* Cambia el color al pasar el cursor */
}